<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.bai.zhang.prj.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.bai.zhang.prj.Perspective"
            id="org.bai.zhang.prj.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.bai.zhang.prj.View"
            icon="icons/menu4_16x16.png"
            id="org.bai.zhang.prj.view"
            name="%menu3"
            restorable="false">
      </view>
      <view
            class="org.bai.zhang.prj.view.SettingView"
            icon="icons/menu2_16x16.png"
            id="org.bai.zhang.prj.view.SettingView"
            name="%menu1"
            restorable="false">
      </view>      
      <view
            class="org.bai.zhang.prj.view.TimingMeasureView"
            icon="icons/menu2_16x16.png"
            id="org.bai.zhang.prj.view.TimingMeasureView"
            name="%menu10"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="org.bai.zhang.prj.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.bai.zhang.prj.menu1.command"
            name="menu1.command">
      </command>
      <command
            id="org.bai.zhang.prj.menu2.command"
            name="menu2.command">
      </command>
      <command
            id="org.bai.zhang.prj.menu3.command"
            name="menu3.command">
      </command>
      <command
            id="org.bai.zhang.prj.menu4.command"
            name="menu4.command">
      </command>
      <command
            id="org.bai.zhang.prj.menu5.command"
            name="menu5.command">
      </command>
      <command
            id="org.bai.zhang.prj.menu6.command"
            name="menu6.command">
      </command>
      <command
            id="org.bai.zhang.prj.menu7.command"
            name="menu7.command">
      </command>
      <command
            id="org.bai.zhang.prj.menu8.command"
            name="menu8.command">
      </command>      
      <command
            id="org.bai.zhang.prj.menu9.command"
            name="menu9.command">
      </command>      
      <command
            id="org.bai.zhang.prj.menu10.command"
            name="menu10.command">
      </command>      
      <command
            id="org.bai.zhang.prj.lidar.command"
            name="samples.lidar.command">
      </command>
      <command
            id="org.bai.zhang.prj.dataCollect.command"
            name="samples.dataCollect.command">
      </command>
      <command
            id="org.bai.zhang.prj.lidarSmooth.command"
            name="samples.lidarSmooth.command">
      </command>
      <command
            id="org.bai.zhang.prj.sample.handlers.Sample20171202_15_25_ch1Handle"
            name="samples.20171202_15_25_ch1.command">
      </command>
      <command
            id="org.bai.zhang.prj.sample.handlers.Sample20171202_15_25_ch2Handle"
            name="samples.20171202_15_25_ch2.command">
      </command>
      <command
            id="org.bai.zhang.prj.sample.handlers.Sample20171202_19_56_ch1Handle"
            name="samples.20171202_19_56_ch1.command">
      </command>
      <command
            id="org.bai.zhang.prj.sample.handlers.Sample20171202_19_56_ch2Handle"
            name="samples.20171202_19_56_ch2.command">
      </command>
      <command
            id="org.bai.zhang.prj.sample.serial.debug"
            name="serial.debug.command">
      </command>
      <command
            id="org.bai.zhang.prj.sample.workflow.debug"
            name="workflow.debug.command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bai.zhang.prj.handlers.Menu1Handle"
            commandId="org.bai.zhang.prj.menu1.command">
      </handler>
      <handler
            class="org.bai.zhang.prj.handlers.Menu3Handle"
            commandId="org.bai.zhang.prj.menu3.command">
      </handler>
      <handler
            class="org.bai.zhang.prj.handlers.Menu4Handle"
            commandId="org.bai.zhang.prj.menu4.command">
      </handler>
      <handler
            class="org.bai.zhang.prj.handlers.Menu5Handle"
            commandId="org.bai.zhang.prj.menu5.command">
      </handler>
      <handler
            class="org.bai.zhang.prj.handlers.Menu6Handle"
            commandId="org.bai.zhang.prj.menu6.command">
      </handler>
      <handler
            class="org.bai.zhang.prj.handlers.Menu7Handle"
            commandId="org.bai.zhang.prj.menu7.command">
      </handler>
      <handler
            class="org.bai.zhang.prj.handlers.Menu8Handle"
            commandId="org.bai.zhang.prj.menu8.command">
      </handler>
      <handler
            class="org.bai.zhang.prj.handlers.Menu9Handle"
            commandId="org.bai.zhang.prj.menu9.command">
      </handler>
      <handler
            class="org.bai.zhang.prj.handlers.Menu10Handle"
            commandId="org.bai.zhang.prj.menu10.command">
      </handler>
      <handler
            class="org.bai.zhang.prj.sample.handlers.LidarHandle"
            commandId="org.bai.zhang.prj.lidar.command">
      </handler>
      <handler
            class="org.bai.zhang.prj.sample.handlers.DataCollectHandle"
            commandId="org.bai.zhang.prj.dataCollect.command">
      </handler>
      <handler
            class="org.bai.zhang.prj.sample.handlers.LidarSmoothHandle"
            commandId="org.bai.zhang.prj.lidarSmooth.command">
      </handler>
      <handler
            class="org.bai.zhang.prj.sample.handlers.Sample20171202_15_25_ch1Handle"
            commandId="org.bai.zhang.prj.sample.handlers.Sample20171202_15_25_ch1Handle">
      </handler>
      <handler
            class="org.bai.zhang.prj.sample.handlers.Sample20171202_15_25_ch2Handle"
            commandId="org.bai.zhang.prj.sample.handlers.Sample20171202_15_25_ch2Handle">
      </handler>
      <handler
            class="org.bai.zhang.prj.sample.handlers.Sample20171202_19_56_ch1Handle"
            commandId="org.bai.zhang.prj.sample.handlers.Sample20171202_19_56_ch1Handle">
      </handler>
      <handler
            class="org.bai.zhang.prj.sample.handlers.Sample20171202_19_56_ch2Handle"
            commandId="org.bai.zhang.prj.sample.handlers.Sample20171202_19_56_ch2Handle">
      </handler>
      <handler
            class="org.bai.zhang.prj.sample.handlers.SerialDebugHandle"
            commandId="org.bai.zhang.prj.sample.serial.debug">
      </handler>
      <handler
            class="org.bai.zhang.prj.sample.handlers.WorkflowHandle"
            commandId="org.bai.zhang.prj.sample.workflow.debug">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.bai.zhang.prj.menu1.toolbar"
               label="menu1 toolbar">
            <command
                  commandId="org.bai.zhang.prj.menu1.command"
                  icon="icons/menu1.png"
                  label="%menu1"
                  style="push"
                  tooltip="%menu1">
            </command>
         </toolbar> 
         <!--  /* disable real time test */
         <toolbar
               id="org.bai.zhang.prj.menu2.toolbar"
               label="menu2 toolbar">
            <command
                  commandId="org.bai.zhang.prj.menu2.command"
                  icon="icons/menu2.png"
                  label="%menu2"
                  style="push"
                  tooltip="%menu2">
            </command>
         </toolbar> 
         <toolbar
               id="org.bai.zhang.prj.menu10.toolbar"
               label="menu10 toolbar">
            <command
                  commandId="org.bai.zhang.prj.menu10.command"
                  icon="icons/menu2.png"
                  label="%menu10"
                  style="toggle"
                  tooltip="%menu10">
            </command>
         </toolbar>         
         -->
         <toolbar
               id="org.bai.zhang.prj.menu3.toolbar"
               label="menu3 toolbar">
            <command
                  commandId="org.bai.zhang.prj.menu3.command"
                  icon="icons/menu3.png"
                  label="%menu3"
                  style="push"
                  tooltip="%menu3">
            </command>
         </toolbar>
<!--         
         <toolbar
               id="org.bai.zhang.prj.menu4.toolbar"
               label="menu4 toolbar">
            <command
                  commandId="org.bai.zhang.prj.menu4.command"
                  icon="icons/menu4.png"
                  label="%menu4"
                  style="push"
                  tooltip="%menu4">
            </command>
         </toolbar> 
         <toolbar
               id="org.bai.zhang.prj.menu5.toolbar"
               label="menu5 toolbar">
            <command
                  commandId="org.bai.zhang.prj.menu5.command"
                  icon="icons/menu5.png"
                  label="%menu5"
                  style="toggle"
                  tooltip="%menu5">
            </command>
         </toolbar> 
         <toolbar
               id="org.bai.zhang.prj.menu6.toolbar"
               label="menu6 toolbar">
            <command
                  commandId="org.bai.zhang.prj.menu6.command"
                  icon="icons/menu6.png"
                  label="%menu6"
                  style="toggle"
                  tooltip="%menu6">
            </command>
         </toolbar> 
         <toolbar
               id="org.bai.zhang.prj.menu7.toolbar"
               label="menu7 toolbar">
            <command
                  commandId="org.bai.zhang.prj.menu7.command"
                  icon="icons/menu7.png"
                  label="%menu7"
                  style="toggle"
                  tooltip="%menu7">
            </command>
         </toolbar> 
         <toolbar
               id="org.bai.zhang.prj.menu8.toolbar"
               label="menu8 toolbar">
            <command
                  commandId="org.bai.zhang.prj.menu8.command"
                  icon="icons/menu8.png"
                  label="%menu8"
                  style="toggle"
                  tooltip="%menu8">
            </command>
         </toolbar>
-->          

      </menuContribution>   
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         	<menu
               label="THI Samples">
	            <command
                	commandId="org.bai.zhang.prj.dataCollect.command"
                	label="dataCollect">
    	        </command>
	            <command
                	commandId="org.bai.zhang.prj.lidar.command"
                	label="lidar">
    	        </command>
	            <command
                	commandId="org.bai.zhang.prj.lidarSmooth.command"
                	label="lidar smooth">
    	        </command>
	            <command
                	commandId="org.bai.zhang.prj.sample.handlers.Sample20171202_15_25_ch1Handle"
                	label="20171202_15_25_ch1">
    	        </command>
	            <command
                	commandId="org.bai.zhang.prj.sample.handlers.Sample20171202_15_25_ch2Handle"
                	label="20171202_15_25_ch2">
    	        </command>
	            <command
                	commandId="org.bai.zhang.prj.sample.handlers.Sample20171202_19_56_ch1Handle"
                	label="20171202_19_56_ch1">
    	        </command>
	            <command
                	commandId="org.bai.zhang.prj.sample.handlers.Sample20171202_19_56_ch2Handle"
                	label="20171202_19_56_ch2">
    	        </command>
	            <command
                	commandId="org.bai.zhang.prj.sample.serial.debug"
                	label="serail debug dialog">
    	        </command>
	            <command
                	commandId="org.bai.zhang.prj.sample.workflow.debug"
                	label="work flow dialog">
    	        </command>
         	</menu>
         </menu>
         <menu
               label="command">
            <command
                  commandId="org.bai.zhang.prj.menu1.command"
                  icon="icons/menu1.png"
                  label="%menu1"
                  style="push"
                  tooltip="%menu1">
            </command>
            <!-- /* disable real time test */
            <command
                  commandId="org.bai.zhang.prj.menu2.command"
                  icon="icons/menu2.png"
                  label="%menu2"
                  style="push"
                  tooltip="%menu2">
            </command>
            -->
            <command
                  commandId="org.bai.zhang.prj.menu3.command"
                  icon="icons/menu3.png"
                  label="%menu3"
                  style="push"
                  tooltip="%menu3">
            </command>
            <command
                  commandId="org.bai.zhang.prj.menu4.command"
                  icon="icons/menu4.png"
                  label="%menu4"
                  style="push"
                  tooltip="%menu4">
            </command>
            <command
                  commandId="org.bai.zhang.prj.menu10.command"
                  icon="icons/menu2.png"
                  label="%menu10"
                  style="push"
                  tooltip="%menu10">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="org.bai.zhang.prj.menu8.command"
                  icon="icons/menu8.png"
                  label="%menu8"
                  style="push">
            </command>
            <command
                  commandId="org.bai.zhang.prj.menu9.command"
                  icon="icons/menu8.png"
                  label="%menu9"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.bai.zhang.prj.application"
            name="数据分析软件">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="数据分析软件">
         </property>
      </product>
   </extension>

</plugin>
